html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


.header-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.accordion-body {
    padding: 10px;
}

.accordion-item:not(:last-child) {
    border-bottom: none;
}

.collapsed {
    border-bottom: 1px solid #ddd;
}

    .collapsed + .accordion-body {
        display: none;
    }


Likesbutton {
    cursor: pointer;
    outline: 0;
    color: #AAA;
}

.like-dislike-buttons {
    margin-top: 10px; /* Adjust the margin as needed */
}

.likesbtn:focus {
    outline: none;
}