@model WebProject_Project_VI.Post

<div>
    <h1>Edit Post</h1>

    <form asp-action="UpdatePost" method="post">
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <p>Title: @Model.PostTitle</p>
        <label for="content">Content:</label><br>
        <input type="text" id="content" name="content" value="@Model.Content"><br><br>
        <input type="submit" value="Update">
    </form>
</div>