@page
@model WebProject_Project_VI.Views.Home.LoginModel
@{
}

<div>
    <h1>Login to account!</h1>

        <form asp-action="LoginValidate" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value=""><br>
    @if(!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
            <b><p style="color: red;">@ViewBag.ErrorMessage</p></b>
    }
            <input type="submit" value="Submit">
        </form>

    <h2>Don't have an account yet? Create one now by clicking the button below!</h2>
    <!-- Add the "Create Account" button here -->
    <br />
    <a asp-action="CreateAccount" class="dropbtn">Create Account</a>

 </div>
