@page
@model WebProject_Project_VI.Views.Home.LoginModel
@{
}


<!DOCTYPE html>
<html>
<body>

<h1>Login to account!</h1>

    <div>
        <form asp-action="LoginValidate" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="title" name="title" value=""><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value=""><br><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>
